<!DOCTYPE html>
<html>
  <head>
    <title>Shorturl</title>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Something went wrong!</h1>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
